body{
font-family:Arial;
background:#eee;
}

.box{
background:white;
width:500px;
margin:50px auto;
padding:30px;
text-align:center;
border-radius:10px;
}

textarea{
width:90%;
height:120px;
}

button{
padding:10px 30px;
}
